<div>
    <h3>Insurance Info</h3>
    <div>Company: {{company}}</div>
    <div>Policy Number: {{policy_number}}</div>
    <div>Coverage Starts: {{start_date}}</div>
    <div>Coverage Ends: {{end_date}}</div>
</div>