<div>
    <h3>VIN: {{vin}}</h3>
    <div>Make: {{make}}</div>
    <div>Model: {{model}}</div>

    <div>
        {{>registration-info registration}}
    </div>

    <div>
        {{>insurance-info insurance}}
    </div>
</div>