<section>
    <h2>Dashboard</h2>
</section>
<section>
    <h3>Vehicles</h3>
    <div id="vehicles">
        <h3>Vehicle Model</h3>
        <div>
            {{!-- car image goes here --}}
        </div>
        <div>
            {{!-- insurance, registration, etc goes here as li --}}
            <ol>
                {{#each vehicles as |vehicle|}}
                <li>
                    {{>vehicle-card vehicle}}
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</section>
<section>
    <h3>Add a Vehicle</h3>
    <form class="new-vehicle-form">
        <div>
            <label for="vin-lookup">VIN</label>
            <input type="text" id="add-vin" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>
