<section>
    <div id="vehicles">
        <h3>My Vehicles</h3>
        
        <div>
            <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>VIN</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Registered</th>
      <th>Insured</th>
    </tr>
  </thead>
<tbody>
                {{#each vehicles as |vehicle|}}
           
                    {{>vehicle-card vehicle}}
           
                {{/each}}
                </tbody>
</table>
            
   
        </div>
    </div>
</section>
<section>
    <h3>Add a Vehicle</h3>
    <form class="new-vehicle-form">
        <div>
            <label for="vin-lookup">VIN</label>
            <input type="text" id="vin" />
        </div>
        <div>
    <label for="date-purchased">purchased:</label>
    <input type="date" id="date-purchased" />
  </div>




        
    
    <div>
     {{!-- <button class="btn btn-success" id="add-registration">add registration</button>
 <div id="edit-registration-form" class="hidden"> --}}
      <form>
          {{!-- <label for="state" class="form-label">State:</label>
          <input name="state" type="text" value="{{vehicle.registration.state}}" class="form-control"> --}}
          {{!-- <label for="issued" class="form-label">Issued Date:</label>
          <input name="issued" type="date" class="form-control"> --}}
          {{!-- <label for="expires" class="form-label">Expiration Date:</label>
          <input name="expires" type="date" class="form-control"> --}}
          {{!-- {{#if vehicle.registration}} --}}
          {{!-- <button type="submit" class="btn btn-success" id="update-registration-form">Update</button>
          {{else}}
          <button type="submit" class="btn btn-success" id="add-registration-btn">Add</button>
          {{/if}} --}}
      </form>
  </div>

  </div>
     <div>
    {{!-- <label for="insured">insured:</label>
    <input type="radio" id="insured" /> --}}
  </div>
        <button id="submit" type="submit" class="btn">Create</button>
    
    </form>
</section>
