<section class="data-section">
        <div class="data-table mb-3">
            <h2>Insurance</h2>
          
              <h3>Insurance Info</h3>
    <div>Company:  <input type="text"/> {{company}}</div>
    <div>Policy Number: <input type="text"/> {{policy_number}}</div>
    <div>Coverage Starts: <input type="date"/>{{start_date}}</div>
    <div>Coverage Ends:<input type="date"/> {{end_date}}</div>
            
            <button class="btn btn-success" id="toggle-modal-insurance">add insurance</button>
         
        </div>

       
      
    </section>
    {{!-- End Insurance Data --}}

    <script src="../javascript/insurance.js"></script>