<h1>Register</h1>

<div>
    <h3>Registration Info</h3>
    <div>State: {{state}}</div>
     <input name="state" type="text" value="{{vehicle.registration.state}}" class="form-control">
    <div>Issued: {{issued_date}}</div>
    <input name="issued" type="date" class="form-control">
    <div>Expires: {{expiration_date}}</div>
     <input name="expires" type="date" class="form-control">
</div>