<h2>New Vehicle</h2>
<form class="vehicle-form">
  <div>
    <label for="vin">vin:</label>
    <input type="text" id="vin" />
  </div>
  <div>
    <label for="date-purchased">purchased:</label>
    <input type="date" id="date-purchased" />
  </div>
    <div>
    <label for="registered">registered:</label>
    <input type="radio" id="registered" />
  </div>
     <div>
    <label for="insured">insured:</label>
    <input type="radio" id="insured" />
  </div>
  <div>
    <button id="submit" type="submit">submit</button>
  </div>
</form>

<script>
document.querySelector("#submit")
.addEventListener("click", function(){
fetch("/api/vehicle", {
method: "POST",
headers: {
      'Content-Type': 'application/json'
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
body: JSON.stringify({
vin: document.querySelector("#vin").value

})
})

})


</script>